<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>自备箱</title>
		<link rel="stylesheet" href="../css/index.css" type="text/css">
		<link rel="stylesheet" href="../css/toastr.min.css">
		<link rel="stylesheet" href="../css/Selfbox.css" />
		<link rel="shortcut icon" href="#" />
	</head>
	<style>
		ul {
			width: 100%;
			height: auto;
		}
		
		ul li {
			width: 100%;
			height: 45px;
			margin-bottom: 2px;
		}
		
		ul li div {
			width: 100%;
			padding: 0 15px;
			box-sizing: border-box;
			height: 45px;
			background: #FFFFFF;
			border-bottom: #C0C0C0;
			display: flex;
			margin-bottom: 20px;
		}
		
		ul li p {
			display: inline-block;
			width: 40%;
			height: 45px;
			line-height: 45px;
		}
		
		ul li input {
			display: inline-block;
			width: 60%;
			height: 45px;
		}
		
		
	</style>

	<body>
		<nav>
			<!--<span class="return"><</span>-->
			<img src="../img/return.jpg" class="return back" />
			<span>下单</span>
			<img src="../img/PersonalCenter.png" class="Percenter" />
		</nav>
		<!--内容部分-->
		<div>
			<div class="tittle">
				请输入自备箱的数量
			</div>
			<!--<div style="padding: 10px;border-bottom: 1px solid #000000;">
				<p style="font-size: 14px;padding: 5px;"></p>
			</div>-->
			<ul>
				<li>
					<div>
						<p>客户账号：</p>
						<input type="text" class="account" placeholder="请输入客户账号" />
					</div>
				</li>
				<li>
					<div>
						<p>自备箱：</p>
						<input type="text" class="zbx" placeholder="请输入自备箱数目" />
					</div>
				</li>
			</ul>

		</div>
		<!--按钮  下一步-->
		<footer class="footer">
			<div>
				<span class="next">下一步</span>
			</div>
		</footer>
		<div class="fazbx">
			<a class="zibeixiang" href="tempature.html">中集包材</a>
		</div>
		<script src="../js/rem.js" type="text/javascript"></script>
		<script src="../js/jquery-1.11.0.js" type="text/javascript"></script>
		<script src="../js/toastr.min.js" type="text/javascript"></script>
		<script>
			$(function() {
				var frame = true;
				toastr.options = {
					timeOut: "3000",
					positionClass: "toast-center-center"
				};
                if(JSON.parse(localStorage.getItem('zxdxs'))){
                	var zxdxsinfo = JSON.parse(localStorage.getItem('zxdxs'));
                	$('.zbx').val(zxdxsinfo.zxsl);
                }
				//下一步
				var isnull = true;
				$('.next').on("click", function() {
					var Acount=$(".account").val();
					if(isnull){
					var zbnums = $('.zbx').val();
					if(zbnums == '' || zbnums == null) {
						isnull = false;
						toastr.error("请输入自备箱数量");
						window.setTimeout(function() {
							isnull = true
						}, 3000);

					    }else{
					    	window.localStorage.setItem("Acount",Acount);
					    	var myzx={
					    		zxrj:"自备箱",
					    		zxsl:zbnums
					    	}
					    	window.localStorage.setItem("zxdxs", JSON.stringify(myzx));
					    	window.localStorage.removeItem("wen");
					    	window.localStorage.removeItem("wenArr");
					    	location.href="ordertake.html";
					    	
					    }
				    }
				})
				//点击上一步
				$('.back').on("click", function() {
					window.history.go(-1);
				})

			})
		</script>

	</body>

</html>