<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>我要下单</title>
		<link rel="stylesheet" href="../css/index.css" type="text/css">
		<link rel="stylesheet" href="../css/toastr.min.css">
		<link rel="stylesheet" type="text/css" href="../css/checkstyle.css" />
	</head>
	<style>
		html,
		body {
			background: #f2f2f2;
			font-size: 0.16rem;
		}
	</style>

	<body>
		<nav>
			<div>
				< 上一步</div>
					<div>下单</div>
					<div></div>
					<div></div>
					<img src="../img/history5.png" class="title_history_img" />
		</nav>
		<!--内容部分-->
		<main>
			<div style="padding: 10px;border-bottom: 1px solid #000000;">
				<p style="font-size: 14px;padding: 5px;">请输入货物信息及包装要求</p>
			</div>
			<ul class="contant">
				<li>
					<div>
						<span>温度要求</span>
						<div style="border: none;" class="wendu">
							<input type="text" readonly class="wenqj">
							<span> ></span>
						</div>
					</div>
				</li>
				<li>
					<div>
						<span>保存环境</span>
						<span class="huan" style="width:1.5rem;text-align: left;"></span>
					</div>
				</li>
				<li>
					<div>
						<span>货物名称</span>
						<div style="border: none;margin-left: 0.5rem;" class="">
							<input type="text" style="border:none;text-align: center;" class="ming">
						</div>
					</div>
				</li>
				<li style="height:auto;">
					<div>
						<span>所需容积</span>
						<div style="border: none;" class="rongji">
							<div style="border:none;">
								<ul class="ewrq" style="border:none;margin-left: 1rem;"></ul>
							</div>
							<span class="jiantou" style="padding:0.1rem 0 0.1rem 0;"> ></span>
						</div>
					</div>
				</li>
				<li style="height:auto;">
					<div>
						<span>温度计使用</span>
						<div style="border: none;width: 30%; text-align: center;" class="wenduji1">
							<!--<div class="wenduValue" style="border:none;">
								<ul class="wdj" style="border:none;margin-left: 1rem;"></ul>
							</div>
							<span class="wdjfh" style="padding: 0.1rem 0 0.1rem 0;"> ></span>-->
							<input type="checkbox" id="checkbox_c1" class="chk_3 iswenduji" /><label for="checkbox_c1"></label>
						</div>
					</div>
				</li>
				<li style="height: auto;padding: 0.05rem 0.05rem 0.05rem 0.15rem;">
					<div style="border: none;height: auto;">
						<span>备注</span>
						<textarea name="" id="beizh"></textarea>
					</div>
				</li>
			</ul>
		</main>
		<!--按钮  下一步-->
		<footer>
			<span class="next">下一步</span>
			<a class="zibeixiang" href="zbbox.html">自备箱</a>
		</footer>
		<!--温度要求   弹框  start-->
		<div class="wenTan fda">
			<div class="yin"></div>
			<div class="wdqj">
				<p>0℃~30℃</p>
				<p>15℃~25℃</p>
				<p>-25℃~-15℃</p>
				<p>2℃~8℃</p>
				<p>-78℃~-20℃</p>
			</div>
		</div>
		<!--温度要求   弹框  end-->
		<!--所需容积  弹框  start-->
		<div class="fda rongjiTan" style="height:100%;">
			<div class="yin"></div>
			<!-- 所需容积 -->
			<div class="rong rongj">
				<div style="line-height:0.5rem;">&nbsp;&nbsp;所需容积</div>
				<div class="fasf"></div>
				<div class="nextNum">
					<span>下一步</span>
				</div>
				<div></div>

			</div>
			<!-- 所需数量 -->
			<div class="deep fdasfs">
				<span>&nbsp;&nbsp;请输入所需容积数量</span>
				<div>
					<ul class="rongNum"></ul>
				</div>
				<div class="rongque">
					<span>确认</span>
				</div>
			</div>
		</div>
		<!--所需容积  弹框  end-->
		<!--温度计   弹框  start-->
		<div class="fda dujiTan">
			<div class="yin"></div>
			<div class="afsda">
				<div style="color:#000000;padding: 0.3rem 0 0.3rem 0;">&nbsp;&nbsp;温度计类型</div>
				<div class="wenlei wenle">
					<span class="">U盘温度计</span>
					<span class="">TP温度计</span>
					<span>不使用温度计</span>
				</div>
				<div style="background: #fff;text-align: center;line-height: 0.5rem;">
					<span style="padding:0.1rem;background: #0093ff;border-radius:5px;" class="temNext">下一步</span>
				</div>
				<div>

				</div>

			</div>
			<!-- 温度计数量 -->

			<div class="wenduNum deep">
				<span>&nbsp;&nbsp;请输入所需温度计数量</span>
				<div>
					<!---->
					<ul class="wendujiNum" style="height:1.5rem;"></ul>
				</div>
				<div style="background: #fff;text-align: center;line-height: 0.5rem;">
					<span style="padding:0.1rem;background: #0093ff;border-radius:5px;" class="wenQue">确认</span>
				</div>
			</div>

		</div>
		<!--温度计   弹框  end-->
	</body>
	<script src="../js/rem.js" type="text/javascript"></script>
	<script src="../js/jquery-1.11.0.js" type="text/javascript"></script>
	<script src="../js/toastr.min.js" type="text/javascript"></script>
	<script>
		$(function() {
			var frame = true;
			toastr.options = {
				timeOut: "3000",
				positionClass: "toast-center-center"
			};
			// window.onload = function(){
			if(JSON.parse(localStorage.getItem("wenArr"))) {
				var wen = JSON.parse(localStorage.getItem('wen'));
				var arr = JSON.parse(localStorage.getItem("wenArr"));
				var li = arr;
				$(".wenduValue").next().hide();
				$(".wenqj").next().hide();
				$(".jiantou").hide();
				$(".wenqj").val(wen.wdqj).css("text-align", "right"); // 温度区间
				$(".huan").html(wen.bchj); // 保存环境
				$(".ming").val(wen.cargoname); // 货物名称
				$("#beizh").val(wen.note); // 备注
				var span2 = `<li style='height:auto;'><span>箱子容积</span><span>件数</span></li>`;
				for(let i = 0; i < li.length; i++) { // 所需容积
					var span = $(
						`<li style='height:auto;'><span class='rongji' >${li[i].rongji}</span><span class='shuli'>${li[i].numbe}</span></li>`
					);
					$(".ewrq").append(span);
				}
				//不使用温度计
				if(wen.iswdj == "不使用") {
					$('#checkbox_c1').attr("checked", false);
				} else {
					$('#checkbox_c1').attr("checked", true);

				}
				$.ajax({
					url: "http://www.ccsc58.cc/zjlytms/api.php/Order/ajax",
					type: "post",
					data: {
						wdqj: $(".wenqj").val(),
						state: 2
					},
					dataType: "JSON",
					success: function(res) {
						var dataArr = [];
						res.forEach(item => {
							dataArr.push(
								'<span class="ni" id="' + item.id + '">', item.bcname,
								'</span>'
							)
						});
						$(".fasf").html(dataArr.join(''));
					},
					error: function(err) {
						console.log(失败);
					}
				})
			}
			//		        else {}
			// }

			//        点击上一步
			$("nav div:first-of-type").on('click', function() {
				//window.location.href = "../index.php";
				window.history.go(-1);
			})

			//        点击温度要求
			$(".wendu").on('click', function() {
				$(".wenTan").show();
			})
			//  点击温度区间
			$(".wdqj p").on('click', function() {
				$(".wenTan").hide();
				var wdqj = $(this).html();
				$.ajax({
					url: "http://www.ccsc58.cc/zjlytms/api.php/Order/ajax",
					type: "post",
					data: {
						wdqj: wdqj,
						state: 2
					},
					dataType: "JSON",
					success: function(res) {
						//                  console.log(res);
						var dataArr = [];
						var huanjing = {
							"0℃~30℃": "常温",
							"15℃~25℃": "阴凉",
							"-25℃~-15℃": "低温",
							"2℃~8℃": "冷藏",
							"-78℃~-20℃": "干冰"
						};
						$(".huan").html(huanjing[wdqj]);
						$('.wenqj').val(wdqj).css("text-align", "right");
						$(".wenqj").next().hide();
						res.forEach(item => {
							dataArr.push(
								'<span class="ni" id="' + item.id + '">', item.bcname,
								'</span>'
							)
						});
						$(".fasf").html(dataArr.join(''));

					},
					error: function(err) {
						console.log(失败);
					}
				})
			})
			// 点击所需容积
			var isRongji = true;

			function rongji() {
				var wen = $(".wenqj").val();
				if(wen == "") {
					isRongji = false;
					toastr.error("请选择温度要求");
					window.setTimeout(function() {
						isRongji = true
					}, 3000);
				} else {
					$(".rongjiTan").show();
					$(".rongj").show();
					$(".fdasfs").hide();
					$(".fasf span").attr("class", "ni");
				}
			}
			$(".rongji").on('click', function() {
				if(isRongji) {
					rongji();
				}
			})

			// 点击容积
			$("body").on("click", ".fasf span", function() {
				if($(this).attr("class") == "ni") {
					$(this).attr("class", "spanActive");
				} else if($(this).attr("class") == "spanActive") {
					$(this).attr("class", "ni");
				}
			})
			// 点击所需容积中的下一步
			function rongNext() {
				var dataSpan = $(".fasf span[class=spanActive]");
				if(dataSpan.length == 0) {
					isRongji = false;
					window.setTimeout(() => {
						isRongji = true
					}, 3000);
					toastr.error("请选择箱子容积");
				} else if(dataSpan.length > 3) {
					isRongji = false;
					window.setTimeout(() => {
						isRongji = true
					}, 3000);
					toastr.error("所选箱子不能超过3个");
				} else {
					var span2 = `<li style='height:auto;'><span>箱子容积</span><span>件数</span></li>`;
					$(".rongj").hide();
					for(let i = 0; i < dataSpan.length; i++) {
						var li = $("<li><span><span class='sheng' id='" + dataSpan[i].id + "'>" + dataSpan[i].textContent +
							"</span></span><input type='number' style='border:1px solid #ccc;text-align:center;'></li>"
						);
						$(".rongNum").append(li);

					}
					$(".rongNum li:first-of-type").before(span2);
					$(".deep").show();
				}
			}
			$(".nextNum span").on("click", function() {
				if(isRongji) {
					rongNext();
				}
			})
			// 点击所需容积  数量中的确认

			var aBool = true; //用来记录以后有没填的项目
			var isOrd = true; // 判断重复点击
			//所属容积的 添好数量的 “确定” 按钮
			$(".rongque span").click(function() {
				aBool = true; //表示填好了
				$(".rongNum li input").each(function() {
					if(typeof $(this).val() == 'undefined' || $(this).val() == '') {
						aBool = false;
					}
				});
				if(isOrd) {
					rongQu();
				}
			})
			//确定里的循环便利判断
			function rongQu() {
				if(aBool) {
					$(".ewrq").html("");
					var li = $(".rongNum li .sheng");
					var input = $(".rongNum li input");
					for(var i = 0; i < li.length; i++) {
						var span = $("<li style='height:auto;'><span class='rongji' id='" + li[i].id + "'>" + $(
								li[i]).text() + "</span><span class='shuli'>" + $(input[i]).val() +
							"</span></li>");
						$(".ewrq").append(span);
					}

					$(".jiantou").hide();
					$(".rongNum").html("");

					$(".rongjiTan").hide();
				} else {

					isOrd = false;
					setTimeout(() => {
						isOrd = true
					}, 3000);
					toastr.error("请输入数量");
				}
			}
			// 点击温度计

			function rongClick() {
				if($(".wenqj").val() == "") {
					isRongji = false;
					window.setTimeout(() => {
						isRongji = true
					}, 3000);
					toastr.error("请选择温度要求");
				} else {
					$(".wenlei span").attr("class", "");
					$(".dujiTan").show();
					$(".afsda").show();
					$(".wenduNum").hide();

				}
			}
			$(".wenduji").on('click', function() {
				if(isRongji) {
					rongClick();
				}
			})
			// 点击温度计下的类型
			$(".wenlei span").on("click", function() {
				if($(this).html() == "不使用温度计") {
					//              $(".wenduValue").next().hide();
					//              $(".wenduValue").html($(this).html());
					//              $(".dujiTan").hide();
					//====================
					$(".wdj").html("");
					var li = $(".wendujiNum li .wdjtype");
					var input = $(".wendujiNum li input");
					//"<li style='height:auto;'><span class='wenduji'>不使用温度计</span><span class='shuli'></span></li>"
					var span = $("<li style='height:auto;'><span class='wenduji'>不使用温度计</span></li>");
					$(".wdj").append(span);
					$(".wdjfh").hide();
					$(".wendujiNum").html("");
					$(".dujiTan").hide();
					//====================
				} else {
					//原来的
					//              $(".wenxing").html($(this).html());
					if($(this).attr("class") == "") {
						$(this).attr("class", "spanActive");
					} else if($(this).attr("class") == "spanActive") {
						$(this).attr("class", "");
					}
				}

			})
			// 点击温度计弹框中的下一步  选择数量
			$(".temNext").on("click", function() {
				wdjnxt();
			})
			//温度计里的下一步
			function wdjnxt() {
				let len = $(".wenlei span[class=spanActive]");
				if(frame) {
					if(len.length != 0) {
						//新添 移除方法
						$(".wendujiNum").empty();
						//              console.log($(".wenlei span[class=spanActive]"))
						for(let i = 0; i < len.length; i++) {
							let li1 = $("<li style='height:auto;'><span class='wdjtype'>" + len[i].innerHTML +
								"</span>&nbsp;件数：<input type='number' style='border:1px solid #ccc;text-align:center;'></li>"
							);
							$(".wendujiNum").append(li1);
						}
						$(".afsda").hide();
						$(".wenduNum").show();
					} else {
						frame = false;
						setTimeout(function() {
							frame = true;
						}, 3000)
						toastr.error("请选择温度计");
					}
				}
			}
			//点击温度计里的数量的确定按钮

			//温度计里的确定按钮
			function determine() {
				if(aBool) {
					$(".wdj").html("");
					var li = $(".wendujiNum li .wdjtype");
					var input = $(".wendujiNum li input");
					for(var i = 0; i < li.length; i++) {
						var span = $("<li style='height:auto;'><span class='wenduji'>" + $(
								li[i]).text() + "</span><span class='shuli'>" + $(input[i]).val() +
							"</span></li>");
						$(".wdj").append(span);
					}

					$(".wdjfh").hide();
					$(".wendujiNum").html("");
					$(".dujiTan").hide();
				} else {

					isOrd = false;
					setTimeout(() => {
						isOrd = true
					}, 3000);
					toastr.error("请输入数量");
				}
			}
			//新 点击确按钮 温度计
			$('.wenQue').on('click', function() {
				aBool = true; //表示填好了
				let ipt = $(".wendujiNum li input");
				//			console.log(ipt);
				$(".wendujiNum li input").each(function() {
					if(typeof $(this).val() == 'undefined' || $(this).val() == '') {
						aBool = false;
					}
				});
				if(isOrd) {
					determine();
				}
			})
			//        点击弹框消失
			$(".yin").on('click', function() {
				$(".fda").hide();
				$(".rongNum").html("");
			})
			//点击下一步
			$(".next").on('click', function() {

				if(frame) {
					nexts();
				}
			});
			//下一步的判断
			function nexts() {
				if($(".wenqj").val() == "" || $(".wenqj").val() == null) {
					frame = false;
					setTimeout(function() {
						frame = true;
					}, 3000)
					toastr.error("请输入温度要求");
				} else if($(".ming").val() == "" || $(".ming").val() == null) {
					frame = false;
					setTimeout(function() {
						frame = true;
					}, 3000)
					toastr.error("请输入货物名称");
				} else if($(".ewrq").html() == "" || $(".ewrq").html() == null) {
					frame = false;
					setTimeout(function() {
						frame = true;
					}, 3000)
					toastr.error("请输入所属容积");
				} else {
					fdsafs();
				}
			}

			function fdsafs() {
				var isty = [];
				var isnu = [];
				var isw;
				if($(".iswenduji").is(":checked")) {
					isw = "使用";
				} else {
					isw = "不使用";
				} //温度上限是否开启；
				//      	var isw ;
				//				if($(".wenduValue ul li .wenduji ").text() == "不使用温度计") {
				//					var isw = 0;
				//					isty = '';
				//					isnu = '';
				//				} else {
				//					isw = 1;
				//					//温度计
				//					for(let i = 0; i < $(".wdj li").length; i++) {
				//						isty.push($(".wdj li span[class='wenduji']")[i].innerHTML);
				//						isnu.push($(".wdj li span[class='shuli']")[i].innerHTML);
				//					}
				//				}
				//				console.log(isw);
				//				console.log(isty);
				//				console.log(isnu);

				var dui = {};
				var arr1 = [];
				//          console.log(arr1);
				for(let i = 0; i < $(".ewrq li").length; i++) {
					//					var rongji = $(".ewrq li span[class='rongji']")[i].id;//以前是id
					var rongji = $(".ewrq li span[class='rongji']")[i].textContent;
					var shu = $(".ewrq li span[class='shuli']")[i].textContent;
					dui[rongji] = shu;
				}
				arr1.push(dui);

				var wenArr = [];
				//          console.log(wenArr);
				for(let i = 0; i < $(".ewrq li").length; i++) {
					var obje = {};
					obje.rongji = $(".ewrq li span[class='rongji']")[i].textContent;
					obje.numbe = $(".ewrq li span[class='shuli']")[i].textContent;
					wenArr.push(obje);
				}

				var obj = {
					wdqj: $(".wenqj").val(),
					bchj: $(".huan").html(),
					cargoname: $(".ming").val(), // 货物名称
					bcnum: arr1, // 所需容积
					iswdj: isw, // 是否使用温度计
					wdjtype: isty, // tp温度计  u盘温度计  
					wdjnum: isnu, // 温度计数量
					note: $("#beizh").val() // 备注
				};

				localStorage.setItem("wen", JSON.stringify(obj));
				localStorage.setItem("wenArr", JSON.stringify(wenArr));
				if(JSON.parse(localStorage.getItem('zxdxs'))) {
					localStorage.removeItem('zxdxs');
				}
				window.location.href = "ordertake.html";
			};
			//历史订单
			$('.title_history_img').on("click", function() {
				var _openid = localStorage.getItem("openid");
				window.location.href = "history.html"
			})

		})
	</script>

</html>