.form{
	width:100vw;
	height:3rem;
	background:#E0E8F3;
	position:fixed;
	top:0;
	left: 0;
	z-index: 999999;
	margin-bottom: 0!important;
	margin-top:4rem;
}
.button_back_list{
	position:absolute;
    left:1vw;
	top:1rem;
	height:2rem;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;
}
.button_back_list img{
	width:1.5rem;
	height:1.5rem;
	float:left;
	margin-top:0.25rem;
}
.button_back_list span{
	float:left;
	display:block;
	color:#D9E3F1;
	font-weight: bold;
}
form input{
	width:20vw;
	height:2.5rem;
	line-height: 2.5rem;
	box-sizing: border-box;
	outline: none;
	font-weight:bold;
	background:#F5F5F5;
	color:#161616;
	margin-left:4vw;
	margin-top:0.25rem;
	border:none;
	border:1px solid #E1E1E1;
	border-radius: 2.5rem;
	font-size: 1rem;
}
.white_input{
	background:#3299fe!important;
	color:#fefefe;
}
.content_details{
	height:auto;
	width:100vw;
	margin-top:7rem;
	margin-bottom:7rem;
}
/*
 * 实时数据页面/包含地图等
 * */
.detailNow{
	width:100vw;
	height:auto;
}
.details_now{
	width:100vw;
	height:12rem;
	border-bottom: 1px solid #DAE0DE;
}
.details_now_left{
	width:30vw;
	height:12rem;
	overflow: inherit;
}
.details_now_left img{
	display:block;
	width:30vw;
	height:12rem;
	border: none;
}
.details_now_right{
	width:70vw;
	height:12rem;
	position:relative;
	white-space:nowrap;
}
.details_now_right p{
	width:65vw;
	height:2rem;
	line-height:2rem;
	font-size:1rem;
	padding-left:5vw;
	color:#565b55;
	font-weight: bold;
}
.details_now_right p span{
	color:#728ba1;
	font-weight: normal;
}
.details_now_right p span:nth-of-type(2){
	color:#565b55!important;
	font-weight: bold!important;
}
.details_now_right p:nth-of-type(3) span:nth-of-type(2){
	color:#728ba1;
	font-weight: normal;
}
.details_now_right p:nth-of-type(1){
	height:2rem;
	line-height:2rem;
	font-size:1.5rem;
}
.details_now_right .details_address{
	width:2rem;
	height:2rem;
	position:absolute;
	top:6rem;
	right:10vw;
	overflow: hidden;
}
.details_now_right .details_address img{
	width:2rem;
	height:2rem;
}
a[target=_blank]{
	display:none;
}
/* 
 *历史数据页面样式 
 * */

.details_history{
	width:100vw;
	height:auto;
	min-height:200px;
}
.history_search{
	width:100vw;
	height:10rem;
}
.history_search_top{
	width:100vw;
	height:7rem;
	background:#fefefe;
	white-space:nowrap;
}
.history_search_top input{
	width:45vw;
	height:3rem;
	box-sizing: border-box;
	margin-top:0.5rem;
	text-align: center;
	margin-left:3vw;
	outline: none;
	border:1px solid #ccc;
	font-size: 1rem;
}
.history_search_top input[type=button]{
	background:#3299fe;
	width:90vw;
	margin-top:0.5rem;
	border-radius: 0.5rem;
	margin-left:5vw;
	font-size:1.5rem;
	color:#fefefe;
	letter-spacing: 1rem;
	font-weight: bold;
	display:block;
	float:left;
}
.history_search_footer{
	width:100vw;
	height:3rem;
	background:#fefefe;
}
.history_search_footer li{
	float:left;
	width:25vw;
	height:3rem;
	font-size:1.5rem;
	box-sizing: border-box;
	line-height:3rem;
	text-align: center;
	color:#000;
}
.white_li{
	border-bottom:3px solid #366cb2;
	box-sizing: border-box;
}
.history_content_list{
	width:100vw;
	height:auto;
	border-top:1px solid #000;
}
.history_content_ul_list:nth-of-type(2n+1){
	background:#EBCCCC;
}
.history_content_ul_tittle,.history_content_ul_list{
	width:100vw;
	height:4rem;
	line-height:4rem;
	box-sizing: border-box;
	border-bottom: 1px solid #000;
}
.history_content_ul_tittle{
	background:#C3DDF4;
	color:#952B06;
	font-weight:bold;
}
.history_content_ul_tittle li,
.history_content_ul_list li{
	height:4rem;
	line-height:4rem;
	text-align: center;
	font-size: 1.5rem;
	border-right:1px solid #000;
	box-sizing: border-box;
	float:left;
	white-space: nowrap!important;
}
.history_content_ul_list li{
	font-size:1rem;
	line-height:2rem;
	overflow: hidden;
}
.history_content_ul_tittle li:nth-of-type(1),
.history_content_ul_tittle li:nth-of-type(4),
.history_content_ul_tittle li:nth-of-type(5),
.history_content_ul_list li:nth-of-type(1),
.history_content_ul_list li:nth-of-type(5)
{
	width:12vw;
	line-height: 4rem;
}
.history_content_ul_list li:nth-of-type(4){
	width:12vw;
	line-height: 2rem;
}
.history_content_ul_tittle li:nth-of-type(2),
.history_content_ul_list li:nth-of-type(2)
{
	width:19vw;
}
.history_content_ul_tittle li:nth-of-type(3),
.history_content_ul_list li:nth-of-type(3){
	width:45vw;
	line-height:4rem;
	white-space: nowrap;
}
.look_more{
	width:100vw;
	height:4rem;
	line-height:4rem;
	font-size:1.5rem;
	text-align: center;
}
#history_map,#history_zhe{
	background:#000;	
	color:#fefefe;
	min-height:100px;
	width:100vw;
}
/* 
 *设备参数页面样式 
 * */
.details_parameter{
	width:100vw;
	height:auto;
	min-height:200px;
}
/* 
 *报警页面样式 
 * */
.details_warning{
	width:100vw;
	height:auto;
	min-height: 100px;
}
.warning_list{
	width:100vw;
	height:13rem;
	border-bottom: 2px solid #ccc;
	box-sizing: content-box;
}
.warning_list .warning_list_left{
	width:30vw;
	height:13rem;
	float:left;
	line-height: 2rem;
	font-weight:bold;
	font-size: 0.8rem;
	border-right:2px dashed #ccc;
	box-sizing: border-box;
}
.warning_list .warning_list_left img{
	width:30vw;
	border:none;
	height:13rem;
}
.warning_list .warning_list_right{
	float:left;
	width:65vw;
	height:13rem;
	line-height:2rem;
	padding-left:5vw;
}
.warning_list .warning_list_right P{
	color:#565b55;
	font-size:1.3rem;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}
.warning_list .warning_list_right P:nth-of-type(1){
	font-size:1.5rem;
}
.warning_list .warning_list_right P:nth-of-type(1) span{
	font-size:1.3rem;
	color:blue;
}
.warning_list .warning_list_right P:nth-of-type(3) span{
	color:red;
	font-weight:bold;
}
.warning_list .warning_list_right P span{
	color:#728ba1;
	font-size: 1rem;
	font-weight:normal;
}
.warning_more{
	width:100vw;
	height:4rem;
	font-size: 1.5rem;
	line-height:4rem;
	text-align: center;
}
/*返回顶部*/
.back_top{
	display:block;
	width:8vw;
	height:8vw;
	position:fixed;
	right:2rem;
	bottom:5.5rem;
	border:1px solid #8a8a8a;
	border-radius: 50%;
	background:rgba(255,255,255,0.8);
}
.back_top img{
	width:60%;
	height:60%;
	margin-top:20%;
	margin-left:20%;
}
/*曲线样式*/
.highcharts-legend{
	display:none;
	height:0px;
	overflow: hidden;
}
.highcharts-button{
	display:none;
}
.zhiShiXian{
	width:100%;
	height:3rem;
	line-height: 3rem;
	text-align: center;
}
.zhiShiXian span:nth-of-type(2n+1){
	display:inline-block;
	width: 2vw;
	height:2vw;
	margin-left:10px;
}
.zhiShiXian span:nth-of-type(1){
	background:blue;
}
.zhiShiXian span:nth-of-type(3){
	background:red;
}
.zhiShiXian span:nth-of-type(5){
	background:#F6A900;
}

/*iscroll
 */
#wrapper {
	width: 100%;
	position: absolute;
	left: 0;
	top: 17rem;
	overflow: hidden;
	z-index: 1;
	bottom:5rem;
}
.more {
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8a8a8a;
}

.pull_icon {
	width: 25px;
	height: 25px;
	background-image: url('../images/pull.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	transition: all .5s;
}

.more span {
	padding-left: .5rem;
}

.scroller {
	background-color: #fff;
}

.more .flip {
	transform: rotate(180deg);
}

.loading {
	background-image: url('../images/loading.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
}

.more .loading {
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
	from {
		-webkit-transform: rotate(0deg) translateZ(0);
	}
	to {
		-webkit-transform: rotate(360deg) translateZ(0);
	}
}
/*iscroll_warning
 */
#wrapper_warning {
	width: 100%;
	position: absolute;
	left: 0;
	top: 7em;
	overflow: hidden;
	z-index: 1;
	bottom:5rem;
}
.more_warning {
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #8a8a8a;
}

.pull_icon_warning {
	width: 25px;
	height: 25px;
	background-image: url('../images/pull.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
	transition: all .5s;
}

.more_warning span {
	padding-left: .5rem;
}

.scroller_warning {
	background-color: #fff;
}

.more_warning .flip_warning {
	transform: rotate(180deg);
}

.loading_warning {
	background-image: url('../images/loading.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25px;
}

.more_warning .loading_warning {
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading_warning {
	from {
		-webkit-transform: rotate(0deg) translateZ(0);
	}
	to {
		-webkit-transform: rotate(360deg) translateZ(0);
	}
}
/*弹窗*/
.JieChuBang_box{
				width:100%;
				height:100%;
				position:fixed;
				top:0px;
				left;0px;
				z-index: 99999999;
				background:rgba(255,250,250,0.5);
			}
			.JieChuBang{
				width:50vw;
				height:30vw;
				background:rgba(0,0,0,.8);
				color:#fefefe;
				position: absolute;
				top:50%;
				left:50%;
				margin-top:-25vw;
				margin-left:-25vw;
				font-size:1.5rem;
			}
			.JieChuBang_top{
				width:100%;
				height:70%;
				text-align: center;
				line-height:21vw;
			}
			.JieChuBang_footer{
				width:100%;
				height:30%;
			}
			.JieChuBang_left{
				width:100%;
				height:100%;
				text-align: center;
				float:left;
				box-sizing: border-box;
				border-top:1px solid #ccc;
				line-height:9vw;
			}