.banner{
	width:90%;
	height:15rem;
	margin-top:1rem;
	margin-left:5%;
	margin-bottom: 1rem;
	border:1px solid #a5a5a5;
}
.swiper-container{
	width:100%;
	height:100%;
}
.swiper-slide{
    width:100%;
    height:100%;
}
.swiper-slide img{
	display:block;
	width:100%;
	height:100%;
}
.user_index_img{
	width:100%;
	height:8rem;
	background:#3299fe;
	display:none;
	position:relative;
}
.user_index_img .index_right{
	position:absolute;
	width:0.8rem;
	right:1rem;
	top:3.5rem;
}
.user_index_img div:nth-of-type(1){
	width:5rem;
	height:5rem;
	float:left;
	margin-top:1.5rem;
	margin-left:5rem;
	background:#fefefe;
	background-image: url("../img/user_di02.png");
	background-size:100% 100%;
	border:1px solid #ccc;
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
}
.user_index_img div:nth-of-type(1) img{
	display:block;
	width:110%;
	height:110%;
	margin-top:-5%;
	margin-left:-5%;
}
.user_index_img div:nth-of-type(2){
	float:left;
	height:4.5rem;
	margin-top:1.5rem;
	margin-left:2rem;
	padding-top:0.5rem;
}
.user_index_img div:nth-of-type(2) p{
	height:2rem;
	color:#fefefe;
	font:1.5rem/2rem "微软雅黑";
}
.index_content{
	width:90%;
	height:10rem;
	margin-top:2rem;
	margin-left:5%;
	overflow: hidden;
}
.index_content a{
	display:block;
	width:25%;
	height:8rem;
	text-align: center;
	float:left;
	color:#929292;
	text-decoration: none;
}
.index_content a img{
	width:5rem;
	height:5rem;
	display:inline-block;
}
.index_content a span{
	display:block;
	width:100%;
	height:3rem;
	line-height:3rem;
	text-align:center;
	font-size:1.5rem;
	color:#929292;
	font-family: "微软雅黑";
}
/*报警样式；
 */
.content .index_warning{
	width:90%;
	height:3rem;
	margin-left:5%;
	overflow: hidden;
	background:#ccc;
	margin-top:2rem;
	margin-bottom:6rem;
	text-align: center;
	line-height: 2.5rem;
	font-size:1.5rem;
	color:red;
	border-radius: 3rem;
	position:relative;
	display:none;
}
.content .index_warning img{
	width:2rem;
	height:2rem;
	display:inline-block;
	position:absolute;
	top:0.5rem;
	left:5%;
}
.content .index_warning a{
	display:inline-block;
	height:3rem;
	line-height:3rem;
	overflow: hidden;
	margin-left:2rem;
	color:red;
	font-size:1.3rem;
}
.index_warning .swiper-wrapper{
	width:100%;
	height:100%;
}
.index_warning .swiper-wrapper .swiper-slide{
	width:100%;
	height:100%;
}