body{
	overflow-x: hidden;
}
.register_logo{
	display:block;
	width:100%;
	height:30vh;
}
#cd-login{
	width:100%;
	height:auto;
	margin-top:4rem;
	background:#fefefe;
	margin-bottom:4rem;
}
.cd-form .fieldset{
	width:100%;
	height:4rem;
	position:relative;
}
.cd-form .fieldset input[type=text],.cd-form .fieldset input[type=password],.cd-form .fieldset input[type=button]{
	width:90%;
	height:4rem;
	outline: none;
	box-sizing: border-box;
	margin-left:5%;
	font-size: 1.5rem;
	border: 1px solid #d2d8d8;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.cd-form .fieldset input[type=button]{
	background-color: #3299fe;
	color:#fefefe;
	font-size: 1.5rem;
	font-weight: bold;
}
.cd-form .fieldset input[type=text],
.cd-form .fieldset input[type=password]{
	padding-left:4rem;
}
.cd-form .fieldset .image-replace{
	position:absolute;
	display:block;
	width:4rem;
	height:4rem;
	font-size:1.5rem;
	line-height: 4rem;
	text-align: center;
	left:5%;
}
.cd-form .register_prompt{
	width:100%;
	height:2rem;
	margin-left:10%;
	line-height: 2rem;
	font-size:1rem;
}
.remember_login{
	margin-left:5%;
	font-size: 1rem;
}
#check{
	margin-left: 5%;
}
